/* Generating Color Pack */
.color-highlight {
    color: #8cc152 !important;
}

.bg-highlight {
    background-color: #8cc152 !important;
    color: #fff !important;
}

.border-highlight {
    border-color: #8cc152 !important;
}

.gradient-highlight {
    background-image: linear-gradient(to bottom, #a0d468, #8cc152) !important;
}

.splide__pagination__page.is-active {
    background-color: #8cc152 !important;
}

.footer-bar-1 .active-nav i,
.footer-bar-1 .active-nav span {
    color: #8cc152 !important;
}

.footer-bar-2 .active-nav {
    border-bottom: solid 3px #8cc152;
}

.footer-bar-3 .active-nav {
    border-top: solid 3px #8cc152;
}

.footer-bar-4 .active-nav {
    background-color: #8cc152;
}

#footer-bar .circle-nav-1:after {
    background-color: #8cc152;
}

#footer-bar .circle-nav-2:after {
    background-color: #8cc152;
}

input[type='range']::-webkit-slider-thumb {
    background-color: #8cc152;
}

.color-highlight {
    color: #8cc152;
}

.bg-highlight {
    background-color: #8cc152;
    color: #fff !important;
}
