/* Generating Color Pack */
.color-highlight {
    color: #8cc152 !important;
}

.bg-highlight {
    background-color: #8cc152 !important;
    color: #fff !important;
}

.border-highlight {
    border-color: #8cc152 !important;
}

.gradient-highlight {
    background-image: linear-gradient(to bottom, #a0d468, #8cc152) !important;
}

.splide__pagination__page.is-active {
    background-color: #8cc152 !important;
}

input[type='range']::-webkit-slider-thumb {
    background-color: #8cc152;
}

.color-highlight {
    color: #8cc152;
}

.bg-highlight {
    background-color: #8cc152;
    color: #fff !important;
}

#footer-bar .active-nav i {
    background-image: linear-gradient(to bottom, #a0d468, #8cc152) !important;
    color: #fff !important;
}

#footer-bar .active-nav i:after {
    transform: scale(0.8) translateY(5px) translateZ(0);
    filter: blur(12px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
}
