/* MyBots.scss */

.load-strategy__file-list {
    padding: 2rem 4rem;

    .file-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .file-card {
        background-color: #fff; // Deriv card background color
        border: 1px solid #ccc5c5; // Light gray border color
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
        transition: transform 0.3s ease;
        margin-top: 1rem;
        flex: 1 1 calc(33.333% - 2rem);

        &:hover {
            transform: translateY(-5px);
        }
    }

    .file-title {
        font-size: 22px;
        font-weight: semi-bold;
        color: #333; // Deriv text color
        margin-bottom: 8px;
    }

    .file-description {
        font-size: 14px;
        color: #666; // Deriv text color
        margin-bottom: 16px;
    }

    .file-button {
        background-color: #ff444f; // Deriv primary red color
        color: #fff; // White color
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #d7373f; // Darker red for hover
        }
    }

    .load-strategy__title {
        font-size: 17px;
        font-weight: semi-bold;
        margin-bottom: 20px;
        color: #333; // Deriv text color
    }
}

/* Media query for small devices */
@media (width <= 768px) {
    .file-cards {
        padding: 2rem;
        flex-direction: column; // Flex column direction on small devices
        gap: 1rem; // Adjust gap for small devices
    }

    .file-card {
        flex: 1 1 100%; // Full width on small devices
        margin: 1rem 0; // Add margin on top and bottom
    }
}
